@media (max-width: 1199px)
{
	.main-slider__coll::before{
		bottom: 26px;
	}

	.main-slider__coll::after{
		left: 26px;
	}

	.main-slider__linet{
		top: 26px;
	}

	.main-slider__liner{
		right: 26px;
	}

	.main-slider__coll{
		padding: 50px;
	}

	.main-slider__title{
		font-size: 36px;
	}

	.main-slider__subtitle{
		font-size: 53px;
		margin-top: -24px;
	}

	.main-slider__desc{
		margin-top: 24px;
	}

	.main-slider__btn{
		margin-top: 24px;
	}

	.main-collections__box {
		padding-top: 12%;
		padding-bottom: 10%;
	}

	.main-collections__title{
		font-size: 36px;
	}

	.main-collections__subtitle{
		font-size: 53px;
		margin-top: -24px;
	}

	.main-collections__desc{
		margin-top: 24px;
	}

	.main-collections__btn{
		margin-top: 24px;
	}


	.what-suitable__wrap{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	.what-suitable__icon{
		height: 100px;
	}

	.what-suitable__title{
		font-size: 32px;
		margin-top: 24px;
	}

	.what-suitable__desc{
		margin-top: 14px;
		font-size: 14px;
	}

	.what-suitable__items{
		justify-content: center;
		gap: 20px 30px;
		margin-top: 30px;
	}

	.what-suitable__item-icon{
		height: 24px;
	}

	.what-suitable__item-title{
		margin-top: 11px;
	}

	.what-suitable__item-desc{
		margin-top: 3px;
		font-size: 12px;
	}

	.what-suitable__btn{
		margin-top: 24px;
	}

	.what-suitable__link{
		margin-top: 15px;
		font-size: 12px;
	}

	.what-suitable__coll{
		padding-right: 30px;
	}
	/*------------
		Commit
	------------*/

	.page-title,
	.about-info__title
	{
		font-size: 46px;
	}

	.page-title_marg 
	{
		margin-top: 155px;
	}

	.page-head__bg
	{
		padding: 30px;
	}

	.main-title 
	{
		font-size: 34px;
	}

	.cats-main__item 
	{
		padding: 30px;
	}

	.cats-main__name
	{
		font-size: 28px;
	}

	.reviews__item 
	{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.reviews__name-city
	{
		font-size: 22px;
	}

	.quotes-border
	{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.footer__items
	{
		padding-right: 0;
	}
	
	.product_big .product__name 
	{
		font-size: 26px;
	}


	.article__name 
	{
		font-size: 20px;
	}


	.our-partners__item
	{
		width: calc(100% / 2 - 24px);
	}

	.ship-calc__wrap,
	.contact-support__wrap
	{
		padding: 40px;
	}

	.delivery-stage__name 
	{
		font-size: 20px;
	}


	.contact-support__boxl
	{
		width: 100%;
	}

	.contact-support__boxr
	{
		width: 100%;
		margin-top: 30px;
	}


	.section-subscribe__wrap
	{
		flex-wrap: wrap;
		gap: 10px;
	}
	
	.section-subscribe__info
	{
		width: 100%;
	}

	.section-subscribe__form
	{
		max-width: 100%;
		width: 100%;
	}

	.form__input.section-subscribe__input
	{
		max-width: 100%;
	}

	.uppercase-font
	{
		top: 0;
	}


	.news-page__coll
	{
		padding: 20px;
	}

	.popular-article__wrap
	{
		margin-left: 20px;
	}


	.we-believe__items
	{
		margin-left: -20px;
	}

	.we-believe__item
	{
		width: calc(100% / 4 - 20px);
		margin-left: 20px;
		margin-top: 20px;
		padding: 30px 12px;
	}

	.we-believe__number 
	{
		width: 56px;
		height: 56px;
		line-height: 56px;
		font-size: 22px;
	}

	.we-believe__desc
	{
		font-size: 14px;
	}


	.about-info__sub-title 
	{
		font-size: 55px;
		margin-top: -24px;
	}

	.about-stages__name,
	.we-believe__name,
	.collections__name
	{
		font-size: 16px;
	}

	.about-stages__desc
	{
		font-size: 14px;
	}
}