@media (max-width: 1499px)
{
	.header-list__link{
		font-size: 14px;
	}

	.header-catalog__top {
		left: calc(15.112% + 100px);
	}

	.header-secondlist__link{
		font-size: 14px;
	}

	.header-thirdlist{
		padding-left: 19px;
	}

	.header-thirdlist__coll {
		width: calc(24.54% - 20px);
	}

	.header-thirdlist__link{
		font-size: 14px;
	}

	.header-catalog__cats-name{
		font-size: 20px;
	}

	.header-catalog__cats-desc{
		font-size: 14px;
	}

	.submenu-second__link{
		font-size: 14px;
	}


	.main-slider__icon{
		height: 130px;
	}

	.main-slider__title{
		margin-top: 30px;
	}

	.main-slider__desc{
		margin-top: 30px;
	}

	.main-collections__title{
		margin-top: 30px;
	}

	.main-collections__desc{
		margin-top: 30px;
	}

	.contacts_marg{
		margin-top: 30px;
	}
	/*------------
		Commit
	------------*/

	._marg 
	{
		margin-top: 70px;
	}

	.page-title,
	.about-info__title
	{
		font-size: 52px;
	}

	.main-title 
	{
		font-size: 36px;
	}

	.products__slider-pad 
	{
		padding-left: 64px;
		padding-right: 64px;
	}

	.cats-main__item
	{
		padding: 40px;
	}


	.reviews__item
	{
		padding-top: 70px;
		padding-bottom: 70px;
	}


	.product_big .product__name 
	{
		font-size: 30px;
	}


	.our-partners__item
	{
		padding-left: 30px;
		padding-right: 30px;
	}

	.our-partners__info
	{
		width: 100%;
		margin-top: 20px;
	}


	.popular-article__wrap
	{
		margin-left: 100px;
	}

	.news-page__desc,
	.news-page__author,
	.news-page__socials
	{
		margin-top: 20px;
	}

	.news-page__data 
	{
		margin-top: 30px;
	}


	.we-believe__item
	{
		padding-top: 45px;
		padding-bottom: 45px;
	}

	.we-believe__number
	{
		width: 66px;
		height: 66px;
		line-height: 66px;
	}

	.we-believe__info
	{
		margin-top: 30px;
	}

	.we-believe__desc
	{
		margin-top: 15px;
	}


	.about-info__cols
	{
		padding: 45px;
	}

	.about-info__sub-title
	{
		font-size: 64px;
	}

	.about-stages__name, 
	.we-believe__name,
	.collections__name
	{
		font-size: 20px;
	}


	.product-thumbs
	{
		width: 100px;
		height: 580px;
	}

	.product-images,
	.information__wrap
	{
		width: calc(100% - 120px);
	}

	.product-images__img
	{
		height: 580px;
	}

	.product-info__title
	{
		font-size: 32px;
	}

	.product-info__price,
	.product-info__price-old
	{
		font-size: 34px;
	}


	.features__feature-name
	{
		width: 70%;
	}
}