@media (max-width: 1023px)
{
	.wrap{
		padding-bottom: 59px;
	}

	.main{
		padding-top: 78px;
	}

	.header{
		position: absolute;
		width: 100%;
	}

	.header__top-links span{
		display: none;
	}

	.header__nav{
		display: none;
	}

	.open-search{
		margin-right: 0;
	}

	.header__btn{
		display: none;
	}

	.header__bot{
		padding: 0;
	}

	.header__info{
		padding-top: 15px;
		padding-bottom: 13px;
	}

	.header__logo{
		top: 19px;
	}

	.header__logo img{
		height: 12px;
	}

	.mob-menu-btn{
        width: 29px;
        height: 20px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .mob-menu-btn span{
        display: block;
        width: 100%;
        height: 1px;
        background: #3D322C;
        position: relative;
    }

    .mob-menu-btn span + span{
        margin-top: 5px;
    }

    .mob-menu-btn._active span:first-child{
        transform: rotate(45deg);
        top: 3px;
		width: 18px;
    }

    .mob-menu-btn._active span:last-child{
        transform: rotate(-45deg);
        top: -3px;
		width: 18px;
    }

	.header-search{
		position: fixed;
		top: 77px;
		overflow: hidden;
		overflow-y: auto;
		height: calc(100% - 77px);
		padding: 20px 0 30px;
	}

	.header-search__form-input{
		font-size: 20px;
		height: 46px;
	}

	.header-search__form-submit{
		height: 46px;
	}

	.header__search-list{
		font-size: 12px;
		line-height: 1.5;
	}

	.header__search-list_time a::before{
		top: 2px;
	}

	.header-search__coll{
		overflow: visible;
		width: 100%;
		max-width: none;
		order: 2;
		padding: 0;
		margin-top: 30px;
		height: auto;
	}

	.header-search__colr{
		overflow: visible;
		width: 100%;
		max-width: none;
		padding: 0;
		height: auto;
	}

	.header__search-scroll {
		height: auto;
		overflow: visible;
		padding: 0;
		margin: 20px 0 0;
	}

	._look-search,
	._look,
	._look-cat{
		overflow: hidden;
	}

	._look-search .header,
	._look .header{
		position: fixed;
	}

	.header__menu{
		position: fixed;
		left: 0;
		top: 78px;
		overflow: hidden;
		overflow-y: auto;
		height: calc(100% - 78px);
		padding: 10px 20px;
		background: #fff;
		z-index: 99;
		gap: 0;

		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: opacity .2s linear, visibility .2s linear;
	}

	.header__menu._show{
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.header__menu._second{
		overflow: hidden;
	}

	.header__menu-item{
		width: 100%;
	}

	.header__menu-item._mob{
		display: block;
	}

	.header__menu-link{
		padding: 10px 0;
	}

	.header__submenu{
		position: fixed;
		left: 0;
		top: 0;
		overflow: hidden;
		overflow-y: auto;
		height: 100%;
	}

	.header__menu._show .header__submenu._show{
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.header__submenu-close{
		position: sticky;
		left: 0;
		top: 0;
		width: 100%;
		background: #FFFCF9;
		border-bottom: 1px solid #EBE8E4;
		padding: 0 60px;
		height: 61px;

		font-family: var(--second-family);
		font-weight: 500;
		font-size: 20px;
		line-height: 1.3;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		text-align: center;
		color: #3D322C;
		z-index: 10;
		display: block;
	}

	.header__submenu-close::before{
		content: '';
		position: absolute;
		left: 20px;
		top: 50%;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		background: url(../images/ic_close2.svg) 50% no-repeat;
	}

	.header__submenu-close::after{
		content: '';
		position: absolute;
		right: 20px;
		top: 50%;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		background: url(../images/ic_close.svg) 50% no-repeat;
	}

	.header__submenu .cont{
		height: calc(100% - 61px);
	}

	.header__collections{
		height: auto;
		overflow: visible;
	}

	.header__collections-coll{
		width: 40%;
	}

	.grid-collectios {
		gap: 24px 0;
	}

	.grid-collectios__item {
    	width: calc(100% / 2 - 20px);
	}

	.submenu-second__items{
		width: 100%;
		height: auto;
		overflow: visible;
		border: none;
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.submenu-second__link{
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.submenu-third{
		position: fixed;
		left: 0;
		top: 62px;
		width: 100%;
		height: calc(100% - 62px);
		overflow: hidden;
		overflow-y: auto;
		background: #FFFCF9;
		padding: 20px 20px 20px 0;
		z-index: 10;
	}

	.submenu-third._show{
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.submenu-third__flex{
		gap: 30px 0;
	}

	.header-secondlist__link-arrow{
		right: 5px;
	}

	.submenu-second__link._sub{
		padding-right: 26px;
	}

	.top-collection{
		padding: 50px 15px 15px;
	}

	.top-collection__title{
		font-size: 12px;
		margin-bottom: 5px;
	}

	.top-collection__name {
		font-size: 24px;
	}

	.top-collection__desc{
		font-size: 12px;
		margin-top: 3px;
	}


	.header-catalog{
		height: 100%;
		position: fixed;
		top: 0;
		overflow: hidden;
		overflow-y: auto;
	}

	.header-catalog._second{
		overflow: hidden;
	}

	.header-catalog__close{
		position: sticky;
		left: 0;
		top: 0;
		width: 100%;
		background: #FFFCF9;
		border-bottom: 1px solid #EBE8E4;
		padding: 0 50px;
		height: 61px;

		font-family: var(--second-family);
		font-weight: 500;
		font-size: 20px;
		line-height: 1.3;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		text-align: center;
		color: #3D322C;
		z-index: 10;
		display: block;
	}

	.header-catalog__close::before{
		content: '';
		position: absolute;
		left: 20px;
		top: 50%;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		background: url(../images/ic_close2.svg) 50% no-repeat;
	}

	.header-catalog__close::after{
		content: '';
		position: absolute;
		right: 20px;
		top: 50%;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		background: url(../images/ic_close.svg) 50% no-repeat;
	}

	.header-list{
		width: 100%;
		height: auto;
		overflow: visible;
		border: none;
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.header-list__link{
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.header-list__link._sub{
		padding-right: 36px;
	}

	.header-list__link-arrow{
		right: 5px;
	}

	.header-catalog__top{
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		max-width: 400px;
		margin-top: 20px;
		padding-bottom: 20px;
	}

	.header-catalog__new{
		flex-wrap: wrap;
	}

	.header-catalog__new-box{
		width: 100%;
		order: 2;
		margin-top: 10px;
	}

	.header-catalog__new-img{
		width: 100%;
	}

	.header-catalog__new-name{
		font-size: 16px;
	}

	.header-catalog__new-desc{
		font-size: 12px;
		margin-top: 5px;
	}

	.header-secondlist{
		position: fixed;
		left: 0;
		top: 62px;
		width: 100%;
		height: calc(100% - 62px);
		background: #FFFCF9;
		overflow: hidden;
		overflow-y: auto;

		padding: 12px 20px;
		z-index: 100;
	}

	.header-catalog._show .header-secondlist._show{
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.header-secondlist__items{
		width: 100%;
		padding: 0;
		overflow: visible;
		border: none;
	}

	.header-secondlist__link{
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.header-secondlist__link._sub{
		padding-right: 36px;
	}

	.header-secondlist__link-arrow{
		right: 5px;
	}

	.header-thirdlist{
		position: fixed;
		left: 0;
		top: 62px;
		width: 100%;
		height: calc(100% - 62px);
		background: #FFFCF9;
		overflow: hidden;
		overflow-y: auto;

		padding: 12px 20px;
		z-index: 101;
	}

	.header-catalog._show .header-thirdlist._show{
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.header-thirdlist__flex{
		flex-wrap: wrap;
	}

	.header-thirdlist__coll{
		width: 100%;
	}

	.header-thirdlist__link{
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.header-thirdlist__colr{
		width: 100%;
		margin-top: 20px;
		padding-bottom: 8px;
	}

	.header-catalog__cats-name {
		font-size: 16px;
		margin-top: 10px;
	}

	.header-catalog__cats-desc{
		font-size: 12px;
		margin-top: 5px;
	}

	.header__collections-btn{
		margin-top: 20px;
	}


	.fix-btns{
		position: fixed;
		left: 0;
		bottom: 0;
		background: #fff;
		z-index: 80;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		padding: 7px 20px;
		width: 100%;
	}

	.fix-btns__btn{
		display: block;
		font-size: 12px;
		line-height: 1.4;
		text-transform: uppercase;
		color: #3D322C;
		text-decoration: none;
		text-align: center;
		position: relative;
	}

	.fix-btns__btn-icon{
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		margin-bottom: 4px;
	}

	.fix-btns__btn-icon svg{
		display: block;
		width: 24px;
		height: 24px;
		fill: currentColor;
		stroke: currentColor;
	}

	.fix-btns__btn-name{
		display: block;
	}

	.fix-btns__btn-number{
		position: absolute;
		top: -1px;
		left: 50%;
		background: #3D322C;
		border-radius: 8px;
		line-height: 14px;
		min-width: 16px;
		padding: 0 2px;
		text-align: center;
		color: #fff;
		font-size: 9px;
		padding-bottom: 1px;
		margin-left: 2px;
	}

	.header-search .products__grid{
		grid-template-columns: repeat(3, 1fr);
		gap: 20px 15px;
	}


	.main-slider__coll::before{
		bottom: 16px;
	}

	.main-slider__coll::after{
		left: 16px;
	}

	.main-slider__linet{
		top: 16px;
	}

	.main-slider__liner{
		right: 16px;
	}

	.main-slider__icon{
		height: 80px;
	}

	.main-slider__coll{
		padding: 36px;
	}

	.main-slider__title{
		font-size: 30px;
		margin-top: 20px;
	}

	.main-slider__subtitle{
		font-size: 40px;
		margin-top: -20px;
	}

	.main-slider__desc{
		margin-top: 20px;
	}

	.main-slider__btn{
		margin-top: 20px;
	}

	.main-slider .slider-pagination{
		display: flex;
		position: absolute;
		left: 0;
		bottom: 36px;
		width: 50%;
		padding: 0 36px;
	}

	.main-slider__coll{
		padding-bottom: 56px;
	}

	.main-collections__icon{
		height: 50px;
	}

	.main-collections__colr{
		display: flex;
		flex-direction: column;
	}

	.main-collections__box {
		margin: auto;
	}

	.main-collections__title{
		font-size: 30px;
		margin-top: 20px;
	}

	.main-collections__subtitle{
		font-size: 40px;
		margin-top: -20px;
	}

	.main-collections__desc{
		margin-top: 20px;
	}

	.main-collections__btn{
		margin-top: 20px;
	}

	.main-collections__slider .slider-pagination{
		display: flex;
		position: absolute;
		left: auto;
		right: 0;
		bottom: 0;
		width: calc(50% + 10px);
		padding: 0 30px;
	}


	.what-suitable__coll{
		padding-right: 20px;
	}

	.what-suitable__icon{
		height: 80px;
	}

	.what-suitable__title {
		font-size: 24px;
		margin-top: 20px;
	}

	.what-suitable__desc{
		margin-top: 10px;
		font-size: 12px;
	}

	.what-suitable__items{
		margin-top: 27px;
	}


	.section-form__box{
		max-width: 400px;
	}

	.checkbox__text_agree br{
		display: none;
	}

	.checkbox__text_agree{
		font-size: 14px;
	}

	.section-form .form__submit{
		margin-top: 20px;
	}

	.section-form .form__submit .btn-brown{
		width: 100%;
	}

	.form .form__input{
		font-size: 14px;
	}

	.form__label{
		padding-left: 16px;
		padding-right: 16px;
		font-size: 14px;
	}

	.select-wrap .nice-select .current{
		font-size: 14px;
		padding-left: 15px;
	}


	.accordion__open{
		font-size: 14px;
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.faq-cats__flex{
		margin: 16px 0 0 -16px;
	}

	.faq-cats__btn {
		width: calc(100% / 4 - 16px);
		margin-left: 16px;
	}

	.form-faq .form-faq__input{
		font-size: 14px;
		padding-left: 15px;
		padding-right: 110px;
	}

	.form-faq__clear{
		font-size: 14px;
		margin-left: -100px;
		width: 100px;
	}

	.contacts__grid{
		gap: 15px;
		margin-top: 16px;
	}

	.contacts__item{
		padding: 20px 16px;
	}

	.contacts__icon{
		height: 30px;
		margin-bottom: 15px;
	}

	.contacts__link {
		margin-top: 5px;
		font-size: 16px;
	}

	.contacts__desc{
		margin-top: 5px;
	}

	.page-top{
		padding: 20px 0 30px;
	}


	.adresess__coll{
		width: 100%;
	}

	.adresess__colr{
		display: none;
	}

	.tabs__item{
		background: #FCFBFB;
	}

	.adresess__tab{
		display: none;
	}

	.contacts_marg{
		margin-top: 30px;
	}


	.page-error__img{
		margin-bottom: 30px;
	}

	.page-error__title{
		font-size: 40px;
	}

	.page-error__text{
		margin-top: 16px;
	}


	.collections-products__coll{
		width: 100%;
	}

	.collections-products__img{
		max-width: 450px;
	}

	.collections-products__colr{
		width: 100%;
		margin-top: 20px;
	}

	.collections-products .products__grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.collections-products .product:nth-child(n + 4){
		display: none;
	}

	.collections-products__btn{
		padding-top: 20px;
	}

	.collections-products__cols{
		margin-top: 15px;
	}

	.global-title{
		margin-bottom: 10px;
	}
	/*------------
		Commit
	------------*/
	
	body
	{
		font-size: 14px;
	}

	.wrap-btn
	{
		margin-top: 25px;
	}

	.head-section_pad 
	{
		padding-right: 0;
	}

	.slider-button-next,
	.slider-button-prev
	{
		display: none;
	}

	._marg 
	{
		margin-top: 50px;
	}

	.main-title 
	{
		font-size: 30px;
	}

	.main-subtitle
	{
		margin-top: 16px;
	}
	

	.cats-main__name
	{
		border-bottom: none;
		font-size: 24px;
	}

	.main-banner .cont
	{
		padding: 0;
	}

	.main-banner__bg
	{
		padding: 80px 20px;
	}

	.main-banner__bg.main-banner__bg-height
	{
		padding-bottom: 112px;
	}

	.products_marg 
	{
		margin-top: -60px;
	}

	.products__slider-pad
	{
		padding-left: 0;
		padding-right: 0;
	}

	.products__grid
	{
		grid-template-columns: repeat(3, 1fr);
		gap: 20px 15px;
	}

	.product__sticker 
	{
		min-width: 35px;
		line-height: 35px;
		padding-left: 4px;
		padding-right: 4px;
		font-size: 12px;
	}

	.product__btns
	{
		top: 10px;
		right: 10px;
	}

	.product__cart-box
	{
		opacity: 1;
		bottom: 10px;
		right: 10px;
	}

	.product__cart-btn
	{
		width: 40px;
		height: 40px;
	}
	
	.product__cart-btn svg
	{
		width: 18px;
		height: 18px;
	}

	.product__amount
	{
		height: 40px;
		width: 95px;
	}

	.product__amount .amount__btn
	{
		height: 40px;
	}

	.product__amount .amount__input
	{
		height: 40px;
	}

	.product__prices
	{
		font-size: 18px;
		margin-top: 0;
	}

	.product_big .product__box
	{
		padding-left: 0;
		padding-right: 0;
	}

	.product_big .product__name
	{
		margin-top: 10px;
	}


	.reviews__slider .swiper-overflow
	{
		overflow: visible;
	}

	.reviews__item
	{
		width: 310px;
		padding: 30px 20px;
	}

	.reviews__name-city 
	{
		font-size: 18px;
	}

	.quotes-border 
	{
		margin-top: 15px;
		margin-bottom: 15px;
		max-width: 214px;
	}

	.quotes-border span
	{
		height: 16px;
		width: 40px;
	}
	
	.quotes-border span:after
	{
		width: 20px;
		height: 16px;
	}

	.reviews__desc
	{
		max-height: 73px;
	}

	.reviews__bot
	{
		margin-top: 10px;
	}

	.reviews__btn
	{
		font-size: 14px;
	}


	.main-banner__bot 
	{
		margin-top: 24px;
	}


	.section-subscribe__wrap
	{
		flex-wrap: wrap;
		gap: 18px;
	}

	.section-subscribe__info
	{
		width: 100%;
	}

	.section-subscribe__form
	{
		max-width: 100%;
		width: 100%;
	}

	.form__input.section-subscribe__input
	{
		max-width: 100%;
	}


	.page-head_marg
	{
		margin-top: 0;
	}

	.page-head__bg
	{
		width: calc(100% + 40px);
		margin-left: -20px;
		padding: 20px;
	}

	.page-title 
	{
		font-size: 40px;
	}

	.page-head__desc
	{
		margin-top: 16px;
	}

	.page-head__btn
	{
		margin-top: 20px;
	}

	.added-cart
	{
		width: 360px;
		left: 20px;
		right: 0;
		top: 135px;
	}

	.added-cart__img
	{
		width: 80px;
		height: 80px;
	}

	.added-cart__info 
	{
		width: calc(100% - 95px);
	}


	.categories-small__item 
	{
		width: 280px;
	}

	.categories-small__thumb
	{
		width: 80px;
		height: 80px;

		padding: 0;
	}

	.categories-small__info 
	{
		padding: 10px;
		width: calc(100% - 90px);
	}

	.categories-small__val
	{
		margin-top: 5px;
	}


	.sorting + .categories-small
	{
		border-top: 1px solid #E8E0D5;
	}

	.sorting__flex
	{
		padding-top: 20px;
		padding-bottom: 25px;
		border-top: none;
	}

	
	.filter-use__link,
	.filter-use__clear
	{
		font-size: 12px;
		line-height: 28px;
	}


	.filter-use_slider
	{
		overflow: visible;
	}

	.filter-use_slider .filter-use__flex 
	{
		margin: 0;
	}

	.filter-use_slider .filter-use__item 
	{
		width: auto;
		margin: 0;
	}


	.articles__slider .swiper-overflow
	{
		overflow: visible;
	}

	.articles__slider .article
	{
		width: 300px;
	}

	.article__name 
	{
		font-size: 16px;
		margin-top: 10px;
	}

	.article__desc
	{
		margin-top: 10px;
	}

	.article__data
	{
		margin-top: 15px;
	}


	.our-partners_marg
	{
		margin-top: 30px;
	}

	.our-partners__grid
	{
		margin-left: -20px;
	}

	.our-partners__item
	{
		width: calc(100% / 2 - 20px);
		margin-top: 20px;
		margin-left: 20px;
	}

	.our-partners__title
	{
		font-size: 22px;
	}

	.ship-calc .cont
	{
		padding: 0;
	}

	.ship-calc__wrap
	{
		padding: 30px 20px;
	}


	.delivery-stages__bg
	{
		background: none;
		padding-top: 0;
		padding-bottom: 36px;
	}

	.delivery-stages__items
	{
		gap: 0;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-left: -24px;
		margin-top: 6px;
	}

	.delivery-stages__items::before
	{
		display: none;
	}

	.delivery-stages__stage
	{
		width: calc(100%/3 - 24px);
		margin-top: 24px;
		margin-left: 24px;
		text-align: left;
	}

	.delivery-stages__stage:last-child 
	{
		text-align: left;
	}

	.delivery-stages__number
	{
		margin-left: 0;
	}

	.delivery-stages__grid 
	{
		margin-top: -20px;
		margin-left: -20px;
	}

	.delivery-stage__item 
	{
		width: calc(100% / 3 - 20px);
		margin-top: 20px;
		margin-left: 20px;
	}

	.delivery-stage__name
	{
		font-size: 16px;
		margin-top: 10px;
	}

	.delivery-stage__desc
	{
		margin-top: 5px;
	}


	.small-banner_marg
	{
		margin-top: 20px;
	}

	.small-banner__wrap
	{
		padding: 30px;
	}

	.small-banner__img
	{
		height: 80px;
	}


	.articles_marg
	{
		margin-top: 30px;
	}

	.articles__grid
	{
		margin-left: -15px;
	}

	.articles__grid .article
	{
		margin-top: 20px;
		width: calc(100% / 3 - 15px);
		margin-left: 15px;
	}

	.article_subscribe
	{
		padding: 20px 20px 26px;
	}
	
	.categories-btns
	{
		position: relative;
	}

	.categories-btns::after
	{
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;

		display: block;

		width: calc(100% + 20px);
		height: 1px;

		background: #E8E0D5;
	}

	.categories-btns__flex
    {
        overflow: hidden;
        overflow-x: auto;

        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding-right: 20px;
        padding-left: 20px;

        white-space: nowrap;
		border-bottom: none;
		position: relative;
    }

    .categories-btns__flex::-webkit-scrollbar
    {
        display: none;
    }


	.contact-support .cont
	{
		padding: 0;
	}

	.contact-support__wrap
	{
		padding: 30px 20px 50px;
	}

	.contact-support__link
	{
		font-size: 22px;
	}


	.uppercase-font
	{
		transform: none;
	}


	.news-page__cols
	{
		gap: 30px;
	}

	.news-page__coll
	{
		width: 100%;
		padding: 0;
	}

	.news-page__colr
	{
		width: 100%;
	}


	.news-article__col
	{
		width: 100%;
	}

	.news-article__col-tabletNone
	{
		display: none;
	}

	.popular-article_tablet
	{
		display: block;
	}

	.popular-article__title
	{
		font-size: 20px;
		margin-bottom: 15px;
	}

	.popular-article__item
	{
		width: 400px;
		gap: 15px;
	}

	.popular-article__img
	{
		width: 100px;
		height: 100px;
	}

	.popular-article__img img
	{
		margin-bottom: 0;
		max-width: none;
	}

	.popular-article__info 
	{
		width: calc(100% - 115px);
	}

	.popular-article__desc
	{
		margin-top: 10px;
	}

	.popular-article__data
	{
		margin-top: 5px;
	}


	.breadcrumbs
	{
		overflow: hidden;
		overflow-x: auto;
		width: calc(100% + 40px);
		margin-right: -20px;
		margin-left: -20px;
		padding-right: 20px;
		padding-left: 20px;
		white-space: nowrap;
	}

	.breadcrumbs::-webkit-scrollbar
    {
        display: none;
    }


	.main-banner_marg
	{
		margin-top: 16px;
	}


	.we-believe__items
	{
		margin-top: -4px;
	}

	.we-believe__item
	{
		width: calc(100% / 2 - 20px);
		padding: 20px;

		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	.we-believe__number
	{
		margin: 0;
	}

	.we-believe__info
	{
		width: calc(100% - 71px);
		margin-top: 0;
		text-align: left;
	}

	.we-believe__desc
	{
		margin-top: 5px;
		margin-left: 0;
	}


	.about-info + .about-info
	{
		margin-top: 0;
	}

	.about-info .cont
	{
		padding: 0;
	}

	.about-info__cols
	{
		padding: 0;
	}

	.about-info__col-info
	{
		order: 1;
		width: 100%;
		padding: 50px 20px;
	}

	.about-info__col-img
	{
		order: 2;
		width: 100%;
	}


	.about-stages__grid
	{
		margin-top: -4px;
	}

	.about-stages__item 
	{
		width: calc(100% / 2 - 20px);
		text-align: left;
	}

	.about-stages__img img
	{
		aspect-ratio: 1 / .484;
	}

	.about-stages__name
	{
		margin-top: 10px;
	}

	.about-stages__desc
	{
		max-width: 100%;
		margin-left: 0;
		margin-top: 5px;
	}


	.collections__slider
	{
		margin-top: 16px;
	}

	.collections__slider .swiper-overflow
	{
		overflow: visible;
	}

	.collections__item
	{
		width: 280px;
	}

	.collections__name
	{
		margin-top: 10px;
		text-align: left;
	}


	.cooperation .cont
	{
		padding: 0;
	}

	.cooperation__wrap
	{
		padding-left: 20px;
		padding-right: 20px;
	}


	.product-info__wrap
	{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	.product-info__images
	{
		float: none;
		width: 100%;

		order: 2;
		margin-top: 20px;
	}

	.product-info__top
	{
		float: none;
		width: 100%;

		order: 1;
	}

	.product-info__col
	{
		float: none;
		width: 100%;

		order: 3;
	}

	.information
	{
		float: none;
		width: 100%;
		order: 4;
	}

	.information__btn
	{
		display: flex;
		margin-top: 20px;
	}

	.information__wrap
	{
		width: 100%;
	}

	.information__item 
	{
		width: calc(100% / 3 - 20px);
	}

	.product-info__title
	{
		font-size: 32px;
	}

	.product-thumbs
	{
		display: none;
	}

	.product-images
	{
		width: 100%;
	}

	.product-images .slider-pagination
	{
		display: flex;
		margin-top: 0;
	}

	.product-info__box
	{
		max-width: 100%;

		display: flex;
		flex-direction: column;
	}

	.product-info__item._tablet-none
	{
		display: none;
	}

	.product-info__bonus
	{
		order: 1;
		margin-top: 0;
	}

	.product-info__prices
	{
		order: 2;
	}

	.product-info__discount
	{
		order: 3;
	}

	.product-color
	{
		order: 4;
		margin-top: 10px;
	}

	.product-info__city-btn
	{
		order: 5;
		margin-top: 70px;
	}

	.product-info__items
	{
		order: 6;
	}

	.product-info .product-info__btns
	{
		display: none;
	}


	.product-info__similar-title
	{
		padding-right: 0;
	}


	.features__feature
	{
		justify-content: space-between;
		position: relative;
	}

	.features__feature::before 
	{
		content: "";
		position: absolute;
		top: 12px;
		bottom: auto;
		left: 0;
		width: 100%;
		border-bottom: 1px dashed #E8E0D5;
	}

	.features__feature-name
	{
		width: 50%;
	}

	.features__feature-name::before
	{
		display: none;
	}

	.features__feature-val
	{
		text-align: right;
		width: 50%;
	}

	.features__feature-val span
	{
		position: relative;
		padding-left: 5px;
		background: #FFFCF9;
	}

	.product-info__availability::before
	{
		top: 6px;
	}


	.product-fixed
	{
		padding-top: 20px;
		padding-bottom: 20px;
		top: auto;
		bottom: 58px;
	}

	.product-fixed__box
	{
		padding-left: 0;
		width: 100%;
	}

	.product-fixed__product,
	.product-fixed .product-info__prices
	{
		display: none;
	}

	.product-fixed .product-info__buy-box
	{
		min-width: 1px;
	}

	.product-fixed .product-info__btns
	{
		margin-left: 0;
		width: 100%;
	}


	.search-head
	{
		padding-top: 30px;
	}

	.search-head__form-input
	{
		font-size: 40px;
		height: 58px;
	}

	.search-head__form-submit
	{
		height: 58px;
	}

	.categories-btns_marg,
	._marg-small
	{
		margin-top: 30px;
	}

	.search-head .categories-btns::after
	{
		width: 100%;
	}

	.search-head__desc
	{
		margin-top: 20px;
	}


	.lk-content .cont
	{
		padding: 0;
	}

	.aside-lk__links-item._mob-btn
	{
		display: block;
	}

	.lk-head
	{
		display: none;
	}

	.aside-lk
	{
		width: 100%;
		border-right: none;
		padding-bottom: 50px;
	}

	.aside-lk__top
	{
		padding-top: 30px;
		padding-left: 20px;
		padding-bottom: 30px;
		border-bottom: 1px solid #E8E0D5;
	}

	.aside-lk__top::after
	{
		display: none;
	}

	.aside-lk__name
	{
		font-size: 32px;
	}

	.aside-lk__info
	{
		padding: 0;
	}

	.aside-lk__items
	{
		padding: 20px;
		border-bottom: 1px solid #E8E0D5;
	}

	.aside-lk__item._mob-none
	{
		display: none;
	}

	.aside-lk__item._mob-btn
	{
		display: block;
	}

	.aside-lk__links
	{
		margin-top: 0;
		padding: 20px;
		border-bottom: 1px solid #E8E0D5;
	}

	.aside-lk__help-btn
	{
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}

	._lk-open-mob 
	{
		overflow: hidden;
	}

	.lk-content__wrap
	{
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		margin: 0;
		pointer-events: none;
		opacity: 0;
		transition: opacity .2s linear, visibility .2s linear;
		background: #FFFCF9;

		padding-top: 0;
		padding-bottom: 50px;
	}

	.lk-content__wrap._show 
	{
		visibility: visible;
		pointer-events: auto;
		opacity: 1;
	}

	.lk-info 
	{
		overflow: hidden;
		overflow-y: auto;
		height: 100%;
		padding: 0 20px;
		border-radius: 0;
		box-shadow: none;
	}

	.lk-info_width
	{
		max-width: 100%;
	}

	.lk-info-head 
	{
		position: sticky;
		z-index: 15;
		top: 0;
		left: -20px;
		color: #3D322C;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.3;
		text-transform: uppercase;
		font-family: var(--second-family);
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: calc(100% + 40px);
		height: 61px;
		margin: 0 -20px 30px;
		padding: 0 20px;
		background: #FFFCF9;
		border-bottom: 1px solid #E8E0D5;
	}

	.lk-info-head::before
	{
		position: absolute;
		content: '';
		top: 50%;
		left: 20px;

		display: block;

		width: 8px;
		height: 5px;

		transform: rotate(90deg);

		background: url(../images/ic_arrow.svg) 50% no-repeat;
	}

	.lk-info__top,
	.lk-info__title
	{
		display: none;
	}

	.lk-info__top._flex
	{
		display: block;
	}


	.lk-sorting__btn
	{
		display: none;
	}

	.lk-sorting__list
	{
		position: relative;
		top: 0;
		left: 0;

		min-width: 1px;

		visibility: visible;
		pointer-events: auto;
		opacity: 1;

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: nowrap;

		background: none;
		z-index: 1;

		overflow: hidden;
		overflow-x: auto;
		width: calc(100% + 40px);
		margin-right: -20px;
		margin-left: -20px;
		padding-right: 20px;
		padding-left: 20px;
		white-space: nowrap;
	}

	.lk-sorting__list::-webkit-scrollbar
    {
        display: none;
    }

	.lk-sorting__item
	{
		position: relative;
		flex: 0 0 auto;
	}

	.lk-sorting__item::before
	{
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;

		display: block;

		width: calc(100% + 20px);
		height: 1px;

		background: #E8E0D5;
	}

	.lk-sorting__item:last-child:before
	{
		width: 100%;
	}

	.lk-sorting__item + .lk-sorting__item
	{
		margin-left: 20px;
	}

	.lk-sorting__link
	{
		padding: 0 0 10px 0;
		text-transform: uppercase;
		border-bottom: 1px solid transparent;
	}

	.lk-sorting__link.active
	{
		border-bottom-color: #AF895B;
		background: none;
		font-weight: 400;
	}

	.lk-sorting__link::before
	{
		display: none;
	}

	.lk-order__stages-flex
	{
		overflow: hidden;
		overflow-x: auto;
		width: calc(100% + 40px);
		margin-right: -20px;
		margin-left: -20px;
		padding-right: 20px;
		padding-left: 20px;
		white-space: nowrap;
	}

	.lk-order__stages::-webkit-scrollbar
    {
        display: none;
    }

	.lk-order__stage
	{
		min-width: 160px;
	}

	.lk-info__item + .lk-info__item
	{
		margin-top: 30px;
	}

	.radios._flex 
	{
		margin-left: -20px;
	}

	.radios._flex .radio
	{
		margin-left: 20px;
	}

	.radio__text
	{
		padding-left: 26px;
		line-height: 16px;
	}

	.lk-adres .radio__text
	{
		padding: 9px 10px 9px 36px;
		line-height: 16px;

		border: 1px solid #E8E0D5;
		transition: border .2s linear;
	}

	input[type=radio]:checked + .radio__text
	{
		border-color: #AF895B;
	}

	.radio__text::before
	{
		width: 16px;
		height: 16px;
	}

	.radio__text::after
	{
		top: 4px;
		left: 4px;
		width: 8px;
		height: 8px;
	}

	.lk-adres .radio__text::before
	{
		top: 12px;
		left: 10px;
	}

	.lk-adres .radio__text::after
	{
		top: 16px;
        left: 14px;
	}

	.lk-adres__name
	{
		padding-right: 60px;
	}

	.lk-adres__btns
	{
		opacity: 1;
		top: 10px;
		right: 10px;
	}

	.lk-order .checkout-table__img-wrap
	{
		border: 1px solid #E8E0D5;
	}


	.order-info__item::before
	{
		top: 12px;
	}


	._marg._marg-tablet
	{
		margin-top: 0;
	}

	.footer__items
	{
		justify-content: flex-start;
		gap: 0;
		margin: -20px 0 0 -20px;
	}

	.footer__item
	{
		width: calc(100%/3 - 20px);
		margin: 20px 0 0 20px;
	}
}