@media (max-width: 1319px)
{
	.top-collection{
		padding: 50px 20px 20px;
	}

	.top-collection__title{
		font-size: 14px;
	}

	.top-collection__name{
		font-size: 26px;
	}

	.top-collection__desc{
		font-size: 14px;
	}

	.grid-collectios__item{
		font-size: 14px;
	}

	.submenu-third__item{
		font-size: 14px;
	}

	.header-catalog__top {
		left: calc(15.112% + 60px);
	}

	.header-catalog__cats{
		gap: 30px 20px;
	}

	.header-catalog__cats-item{
		width: calc(50% - 10px);
	}

	.header-thirdlist{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.header-secondlist__items{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.header-list{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.header__collections{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.submenu-second__items{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.submenu-third{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.header__menu {
    	gap: 30px;
	}

	.main-slider__title{
		font-size: 46px;
	}

	.main-slider__subtitle{
		font-size: 73px;
		margin-top: -30px;
	}

	.main-collections__title{
		font-size: 46px;
	}

	.main-collections__subtitle{
		font-size: 73px;
		margin-top: -30px;
	}


	.what-suitable .cont{
		padding: 0;
	}

	.what-suitable__icon{
		height: 140px;
	}

	.what-suitable__title{
		margin-top: 40px;
	}

	.what-suitable__items{
		margin-top: 30px;
	}

	.what-suitable__item-title{
		font-size: 14px;
	}

	.what-suitable__btn{
		margin-top: 30px;
	}
	/*------------
		Commit
	------------*/

	.page-title
	{
		font-size: 48px;
	}

	.product__name
	{
		font-size: 18px;
	}

	.product__sticker
	{
		min-width: 50px;
		line-height: 50px;
	}

	.categories-small__item
	{
		width: 330px;
	}


	.article__name
	{
		font-size: 22px;
	}


	.calc-table th,
	.calc-table td
	{
		padding-left: 15px;
	}

	.calc-table th:last-child,
	.calc-table td:last-child
	{
		padding-right: 15px;
	}


	.delivery-stage__name
	{
		font-size: 22px;
	}
}