@media (max-width: 1699px)
{
	/*------------
		Commit
	------------*/

	.product_big .product__name
	{
		font-size: 34px;
	}


	.our-partners__item
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.our-partners__info
	{
		width: calc(100% - 140px);
	}

	.contact-support__wrap
	{
		padding: 45px;
	}


	.article_subscribe
	{
		padding-left: 40px;
		padding-right: 40px;
	}

	.uppercase-font 
	{
        font-size: 65px;
    }


	.about-stages__name,
	.we-believe__name,
	.collections__name
	{
		font-size: 22px;
	}


	.information__items
	{
		margin-top: -20px;
		margin-left: -20px;
	}

	.information__item 
	{
		width: calc(100% / 2 - 20px);
		margin: 20px 0 0 20px;
	}
	

	.product-images__img,
	.product-thumbs
	{
		height: 630px;
	}


	.product-fixed .product-info__btns
	{
		margin-left: 30px;
	}

	.product-fixed__product-img
	{
		width: 100px;
		height: 100px;
	}
}