@media (max-width: 767px)
{
	.submenu-third__flex{
		gap: 16px 0;
		padding-left: 4px;
	}

	.submenu-third__item {
		width: calc(100% / 3 - 16px);
		margin-left: 16px;
	}

	.submenu-third__img{
		aspect-ratio: 1/.92;
	}

	.submenu-third__name{
		margin-top: 5px;
	}

	.header__collections{
		flex-wrap: wrap;
		gap: 16px;
	}

	.header__collections-coll{
		width: 100%;
	}

	.header-search .products__grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.top-collection{
		aspect-ratio: 1/.7433;
	}

	.grid-collectios{
		gap: 16px 0;
		margin-left: -16px;
	}
	
	.grid-collectios__item{
		width: calc(100% / 3 - 16px);
		margin-left: 16px;
	}

	.grid-collectios__img{
		aspect-ratio: 1/.92;
	}

	.grid-collectios__name{
		margin-top: 5px;
	}

	.header__top-info a{
		display: none;
	}

	.open-search{
		font-size: 0;
		padding: 0;
		width: 20px;
		height: 20px;
	}

	.open-search svg{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}

	.open-search svg + svg{
		top: 50%;
	}


	.main-slider__coll::before{
		bottom: 20px;
	}

	.main-slider__coll::after{
		left: 20px;
	}

	.main-slider__linet{
		top: 20px;
	}

	.main-slider__liner{
		right: 20px;
	}

	.main-slider__icon{
		height: 68px;
	}

	.main-slider__coll{
		padding: 48px 40px 97px;
	}

	.main-slider__title{
		font-size: 32px;
		margin-top: 15px;
	}

	.main-slider__subtitle{
		font-size: 48px;
		transform: rotate(-3deg);
		margin-top: -20px;
	}

	.main-slider__desc{
		font-size: 12px;
		margin-top: 7px;
	}

	.main-slider__btn{
		margin-top: 20px;
	}

	.main-slider__coll{
		width: 100%;
	}

	.main-slider .slider-pagination{
		width: 100%;
		padding: 0 40px;
		bottom: 53px;
	}

	.main-slider__colr{
		display: none;
	}



	.main-collections__box{
		padding: 0;
	}

	.main-collections__colr{
		width: 100%;
		padding: 0;
	}

	.main-collections__coll{
		display: none;
	}

	.main-collections__icon{
		height: 39px;
	}

	.main-collections__title{
		margin-top: 15px;
		font-size: 32px;
	}

	.main-collections__subtitle{
		font-size: 48px;
		transform: rotate(-3deg);
	}

	.main-collections__wrap{
		margin-top: 7px;
	}

	.main-collections__img{
		position: relative;
		height: auto;
		width: 100%;
		height: 410px;
	}

	.main-collections__desc{
		margin-top: 24px;
		font-size: 12px;
	}

	.main-collections__btn{
		margin-top: 16px;
	}

	.main-collections__slider .slider-pagination{
		position: relative;
		margin-top: 40px;
		width: 100%;
		padding: 0;
	}


	.what-suitable__colr{
		display: none;
	}

	.what-suitable__coll{
		width: 100%;
		padding: 0;
		max-width: none;
	}

	.what-suitable__btn .btn-brown{
		width: auto;
	}


	.section-form__wrap{
		padding-bottom: 40%;
	}

	.section-form__bg{
		height: auto;
		top: auto;
		bottom: 0;
		height: 100%;
		overflow: hidden;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		align-content: flex-end;
		flex-wrap: wrap;
	}

	.section-form__bg img{
		height: auto;
		max-height: 100%;
		object-position: 100% 100%;
	}

	.form .form__input{
		padding-left: 15px;
		padding-right: 15px;
	}

	.form .form__textarea{
		padding: 14px 15px;
	}

	.select-wrap .nice-select .current{
		line-height: 38px;
		height: 40px;
	}

	.section-form__box{
		max-width: none;
	}

	.faq-section__sector-item + .faq-section__sector-item{
		margin-top: 30px;
	}

	.accordion__item + .accordion__item{
		margin-top: 10px;
	}

	.faq-section__accordion{
		margin-top: 15px;
	}


	.faq-top{
		margin-top: 16px;
	}

	.form-faq{
		margin-top: 16px;
	}

	.form-faq .form-faq__input{
		height: 40px;
		padding-right: 90px;
	}

	.form-faq__clear{
		height: 40px;
		width: 80px;
		margin-left: -80px;
	}


	.faq-cats__flex{
		gap: 10px 0;
		margin-left: -10px;
	}

	.faq-cats__btn {
		width: calc(100% / 2 - 10px);
		margin-left: 10px;
	}

	.contacts__grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.contacts__item_mail{
		grid-column: span 2;
	}

	.section-form__form .form__textarea{
		height: 86px;
	}


	.page-error__title{
		font-size: 32px;
	}

	.collections-products .products__grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.global-title{
		margin-bottom: 5px;
	}
	/*------------
		Commit
	------------*/

	.btn-brown,
	.btn-white
	{
		font-size: 14px;
		line-height: 40px;
	}

	.btn-border
	{
		font-size: 14px;
		line-height: 38px;
	}

	.main-title 
	{
		font-size: 26px;
	}

	.cats-main__grid
	{
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-top: 6px;
	}

	.cats-main__item
	{
		margin-top: 10px;
		padding: 15px 20px;
		width: calc(50% - 7.5px);
	}

	.cats-main__name
	{
		font-size: 20px;
	}


	.products__slider-marg
	{
		margin-top: 16px;
	}

	.products__slider
	{
		/* width: calc(100% + 40px);
		margin-left: -20px; */
	}

	.product__box
	{
		margin-top: 10px;
	}

	.product__use
	{
		font-size: 12px;
	}

	.product__name 
	{
		font-size: 16px;
		margin-top: 5px;
	}

	.product__size
	{
		margin-top: 5px;
	}

	.product__prices
	{
		font-size: 16px;
		margin-left: -10px;
	}

	.product__price,
	.product__price-old
	{
		margin-top: 10px;
		margin-left: 10px;
	}


	.reviews__slider
	{
		margin-top: 16px;
	}

	.reviews__name-city 
	{
		font-size: 16px;
	}


	.main-banner__bg
	{
		padding-top: 40px;
		padding-bottom: 40px;
	}


	.section-gallery__head
	{
		width: 100%;
		order: 1;
	}

	.section-gallery__wrap
	{
		order: 2;
		margin-top: 24px;
	}

	.section-gallery__btn
	{
		order: 3;
		margin-top: 16px;
		width: 100%;
		text-align: center;
	}

	.section-gallery__grid
	{
		margin-left: -15px;
		margin-top: -15px;
	}

	.section-gallery__img
	{
		width: calc(100% / 2 - 15px);
		margin-top: 15px;
		margin-left: 15px;
	}


	.page-title 
	{
		font-size: 36px;
	}


	.filter-open__name
	{
		display: none;
	}

	.filter-open
	{
		height: 17px;
	}

	.select-wrap.sorting-choice .nice-select .current
	{
		font-size: 0;
		padding: 0;
		width: 24px;
		height: 24px;
	}

	.select-wrap.sorting-choice .nice-select .current:after
	{
		display: none;
	}

	.select-wrap.sorting-choice .nice-select .current:before 
	{
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 24px;
		height: 19px;
		transform: translate(-50%, -50%);

		background: url(../images/arrow_up_down.svg) 50% 50% no-repeat;
	}

	.products__grid 
	{
		grid-template-columns: repeat(2, 1fr);
	}

	.product_big .product__name 
	{
		font-size: 24px;
	}

	.product__wrap-bot
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.product_big .product__use
	{
		font-size: 14px;
		margin-top: 23px;
	}

	.product_big .product__size
	{
		margin-top: 10px;
	}

	.product_big .product__prices
	{
		font-size: 20px;
	}


	.section-text__btn
	{
		margin-top: 0;
		font-size: 14px;
	}


	.categories-small__slider_marg,
	.articles__slider
	{
		margin-top: 16px;
	}


	.our-partners__title 
	{
		font-size: 20px;
	}

	.our-partners__grid
	{
		margin-top: 5px;
	}

	.our-partners__item
	{
		width: calc(100% / 1 - 20px);
		margin-top: 15px;
		padding: 15px;
	}

	.our-partners__links 
	{
		margin-top: 0;
		margin-left: -10px;
	}

	.our-partners__link
	{
		margin-top: 15px;
		margin-left: 10px;
	}


	.ship-calc__wrap
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}


	.form .form__input
	{
		height: 40px;
	}

	.form__input.form__input-anim
	{
		padding-top: 10px;
	}


	.ship-calc__form
	{
		gap: 10px;
	}

	.ship-calc__form .submit__btn
	{
		padding-left: 15px;
		padding-right: 15px;
	}


	.calc-table_marg
	{
		margin-top: 26px;
	}

	.calc-table th
	{
		padding-bottom: 19px;
	}


	.payment-methods__item
	{
		width: 100%;
		margin-top: 15px;
		padding: 20px;
	}

	.payment-methods__name
	{
		margin-top: 25px;
	}

	.payment-methods__desc
	{
		margin-top: 10px;
	}


	.delivery-stages__stage
	{
		width: calc(100% / 2 - 24px);
	}


	.delivery-stage__item
	{
		width: calc(100% / 2 - 20px);
	}


	.articles__grid .article
	{
		width: calc(100% / 2 - 15px);
	}

	.uppercase-font 
	{
		font-size: 50px;
		line-height: 1;
	}


	.we-believe__items
	{
		margin-top: 1px;
	}
	
	.we-believe__item
	{
		width: calc(100% / 1 - 20px);
		margin-top: 15px;
	}


	.about-stages__grid
	{
		margin-left: -15px;
	}

	.about-stages__item 
	{
		width: calc(100% / 2 - 15px);
		margin-left: 15px;
	}


	.collections__item 
	{
		width: 180px;
	}


	.cooperation__wrap
	{
		flex-wrap: wrap;
		gap: 24px;
		padding-bottom: 50px;
	}

	.cooperation__box-btn
	{
		width: 100%;
	}

	.cooperation__btn
	{
		width: 100%;
	}


	.product-images__img
	{
		height: auto;
		aspect-ratio: 1 / 1;
	}

	.information__item 
	{
		width: calc(100% / 2 - 20px);
	}


	.help-btn svg
	{
		margin-right: 15px;
	}

	.help-btn__name
	{
		font-size: 18px;
		margin-top: 5px;
		display: block;
	}


	.product-info__availability::before 
	{
		top: 5px;
	}


	.product-fixed .product-info__btns
	{
		gap: 15px;
	}

	.product-info__btns-favorite
	{
		width: 40px;
		height: 40px;
	}

	.product-info__btns-favorite svg
	{
		width: 17px;
		height: 15px;
	}


	.sorting__btns-btn + .sorting__btns-btn 
	{
		margin-left: 20px;
	}

	.sorting__btns-btn span
	{
		display: none;
	}

	.sorting__btns-btn svg
	{
		margin-right: 0;
	}


	.search-head__form
	{
		margin-top: 0;
	}

	.search-head__form-input
	{
		font-size: 36px;
	}


	.search-head .categories-btns__btn + .categories-btns__btn
	{
		margin-left: 22px;
	}


	.lk-info__item-title, 
	.lk-bonus__level,
	.lk-orders__total-price
	{
		font-size: 18px;
	}

	.lk-info__data
	{
		margin-top: 16px;
	}

	.aside-lk__bonus
	{
		margin-top: 10px;
	}

	.aside-lk__bonus span
	{
		line-height: 30px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.form__btn-confirm
	{
		height: 40px;
		padding-left: 15px;
		padding-right: 15px;
	}


	.lk-adres__item + .lk-adres__item,
	.lk-info__form .form__submit,
	.lk-adres__btn-add
	{
		margin-top: 10px;
	}


	.lk-bonus__item
	{
		width: 100%;
		aspect-ratio: 1 / .514;
	}

	.lk-bonus__item + .lk-bonus__item
	{
		margin-top: 10px;
	}

	.lk-bonus__title 
	{
		font-size: 38px;
		margin-top: 5px;
	}

	.lk-bonus__note
	{
		margin-top: 57px;
	}

	.lk-bonus__level-next
	{
		margin-top: 5px;
	}

	.lk-bonus__info
	{
		margin-top: 15px;
	}

	.lk-bonus__bot
	{
		margin-top: 5px;
	}

	.history-table tr td
	{
		padding-left: 20px;
		padding-top: 11px;
		padding-bottom: 11px;
	}

	.history-table tr td:first-child
	{
		padding-left: 20px;
	}

	.history-table tr td:last-child
	{
		padding-right: 20px;
	}


	.lk-orders__head
	{
		flex-wrap: wrap;
		padding-bottom: 0;
	}

	.lk-orders__info
	{
		width: 100%;
		margin-right: 0;
	}

	.lk-orders__workflow
	{
		margin-top: 15px;
	}

	.lk-orders__workflow-item
	{
		flex-shrink: 0;
		position: relative;
		padding-bottom: 20px;
	}

	.lk-orders__workflow-item:last-child
	{
		text-align: right;
	}

	.lk-orders__workflow-arrow
	{
		width: 100%;
	}

	.lk-orders__workflow-desc
	{
		position: absolute;
		bottom: 0;
		white-space: nowrap;
	}

	.lk-orders__workflow-item:first-child .lk-orders__workflow-desc
	{
		left: 0;
	}

	.lk-orders__workflow-item:last-child .lk-orders__workflow-desc
	{
		right: 0;
	}

	.lk-orders__images
	{
		margin-top: 15px;
		width: 100%;
	}

	.lk-orders__total
	{
		margin-top: 15px;
		margin-left: 0;
		text-align: left;
		padding-left: 0;
	}

	.lk-orders__head .lk-orders__btn
	{
		right: 0;
		left: auto;
	}

	.lk-order__number,
	.lk-order__total-price
	{
		font-size: 20px;
	}

	.lk-order__title
	{
		margin-bottom: 15px;
	}

	.lk-order__cols,
	.lk-order__box + .lk-order__box
	{
		margin-top: 25px;
	}

	.lk-order__note
	{
		margin-top: 10px;
	}


	.lk-info__bot-btn
	{
		margin-top: 20px;
	}


	.modal-small__btn-bord
	{
		line-height: 40px;
	}


	.footer__top
	{
		padding-top: 20px;
		padding-bottom: 30px;
		border-bottom: none;
	}

	.main-subtitle
	{
		margin-top: 12px;
	}

	.form .form__input:focus + .form__label, 
	.form ._full .form__label
	{
		padding-top: 5px;
	}

	.form__label
	{
		font-size: 12px;
		line-height: 40px;
	}

	.section-subscribe__form .form__label 
	{
		line-height: 40px;
	}

	.form__input.section-subscribe__input
	{
		height: 40px;
	}

	.section-subscribe__btn 
	{
		line-height: 40px;
	}

	.footer__info
	{
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.footer__items
	{
		display: block;
		margin-left: 0;
	}

	.footer__item
	{
		width: 100%;
		margin-left: 0;
		margin-top: 0;
		border-bottom: 1px solid #E8E0D5;
	}

	.footer__item:first-child
	{
		border-top: 1px solid #E8E0D5;
	}

	.footer__item.footer__mob-marg
	{
		margin-top: 30px;
		border-bottom: none;
	}

	.footer-menu__title._sub
	{
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 0;
	}

	.footer-menu__title._sub + .footer-menu__list
	{
		display: none;
	}

	.footer-menu__title-arrow 
	{
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: flex-end;
		align-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 60px;
		height: 100%;
	}

	.footer-menu__title svg 
	{
		display: block;
		width: 11px;
		height: 6px;
		transition: stroke .2s linear;
		fill: none;
		stroke: #3D322C;
	}

	.footer-menu__title._sub + .footer-menu__list
	{
		padding-bottom: 14px;
	}

	.footer-menu__title._sub + .footer-menu__list._show
    {
        display: block;
    }

	.footer-menu__title._active .footer-menu__title-arrow svg
	{
		transform: rotate(180deg);
	}

	.footer__bot
	{
		padding-right: 80px;
		margin-top: 20px;
	}

	.button-up
	{
		bottom: 22px;
	}
}