@media (max-width: 1199px)
{
	.main-slider__coll::before{
		bottom: 26px;
	}

	.main-slider__coll::after{
		left: 26px;
	}

	.main-slider__linet{
		top: 26px;
	}

	.main-slider__liner{
		right: 26px;
	}

	.main-slider__coll{
		padding: 50px;
	}

	.main-slider__title{
		font-size: 36px;
	}

	.main-slider__subtitle{
		font-size: 53px;
		margin-top: -24px;
	}

	.main-slider__desc{
		margin-top: 24px;
	}

	.main-slider__btn{
		margin-top: 24px;
	}

	.main-collections__box {
		padding-top: 12%;
		padding-bottom: 10%;
	}

	.main-collections__title{
		font-size: 36px;
	}

	.main-collections__subtitle{
		font-size: 53px;
		margin-top: -24px;
	}

	.main-collections__desc{
		margin-top: 24px;
	}

	.main-collections__btn{
		margin-top: 24px;
	}


	.what-suitable__wrap{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	.what-suitable__icon{
		height: 100px;
	}

	.what-suitable__title{
		font-size: 32px;
		margin-top: 24px;
	}

	.what-suitable__desc{
		margin-top: 14px;
		font-size: 14px;
	}

	.what-suitable__items{
		justify-content: center;
		gap: 20px 30px;
		margin-top: 30px;
	}

	.what-suitable__item-icon{
		height: 24px;
	}

	.what-suitable__item-title{
		margin-top: 11px;
	}

	.what-suitable__item-desc{
		margin-top: 3px;
		font-size: 12px;
	}

	.what-suitable__btn{
		margin-top: 24px;
	}

	.what-suitable__link{
		margin-top: 15px;
		font-size: 12px;
	}

	.what-suitable__coll{
		padding-right: 30px;
	}
	/*------------
		Commit
	------------*/

	.page-title 
	{
		font-size: 48px;
	}

	.page-title_marg 
	{
		margin-top: 155px;
	}

	.page-head__bg
	{
		padding: 30px;
	}

	.main-title 
	{
		font-size: 34px;
	}

	.cats-main__item 
	{
		padding: 30px;
	}

	.cats-main__name
	{
		font-size: 28px;
	}

	.reviews__item 
	{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.reviews__name-city
	{
		font-size: 22px;
	}

	.quotes-border
	{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.footer__items
	{
		padding-right: 0;
	}
	
	.product_big .product__name 
	{
		font-size: 26px;
	}


	.article__name 
	{
		font-size: 20px;
	}
}