@media (max-width: 479px)
{
	.grid-collectios__item {
		width: calc(100% / 2 - 16px);
	}
	
	.submenu-third__item {
		width: calc(100% / 2 - 16px);
	}

	.header__top-links{
		display: none;
	}

	.header__top-info{
		width: 100%;
		text-align: center;
	}

	.header-catalog__cats{
		gap: 25px 0;
	}

	.header-catalog__cats-item{
		width: 100%;
	}

	.header-catalog__cats-img {
		aspect-ratio: 1 / 0.7433;
	}

	.header__collections-btn .btn-border{
		width: 100%;
	}


	.main-slider__btn .btn-brown{
		width: 100%;
	}

	.main-collections__btn .btn-brown{
		width: 100%;
	}


	.what-suitable__icon{
		height: 68px;
	}

	.what-suitable__btn .btn-brown{
		width: 100%;
	}

	.section-form__wrap {
		padding-bottom: 63%;
	}

	.form-faq .form-faq__input{
		font-size: 12px;
		padding-right: 15px;
	}

	.form-faq__clear{
		font-size: 12px;
	}

	.form .form__input{
		font-size: 12px;
	}

	.form .form__textarea{
		font-size: 12px;
	}

	.checkbox__text_agree{
		font-size: 12px;
	}

	.select-wrap .nice-select .current{
		font-size: 12px;
	}

	.accordion__open{
		font-size: 12px;
	}

	.contacts__grid {
		grid-template-columns: repeat(1, 1fr);
	}

	.contacts__item_mail{
		grid-column: span 1;
	}

	.form-faq__clear{
		display: none;
	}

	.adresess__time span{
		width: 100%;
	}

	.adresess__btn .btn-border{
		width: 100%;
	}

	.collections-products .product:nth-child(n + 4) {
		display: block;
	}

	.products__grid{
		gap: 20px 12px;
	}
	/*------------
		Commit
	------------*/

	body
	{
		font-size: 12px;
	}

	.main-title 
	{
		font-size: 24px;
	}

	.cats-main__item
	{
		aspect-ratio: 1 / 1.18;
	}

	.cats-main__name
	{
		font-size: 14px;
	}


	.product__stickers
	{
		width: calc(100% - 35px);
	}

	.product__btns-btn
	{
		width: 15px;
		height: 13px;
	}

	.product__cart-btn
	{
		width: 30px;
		height: 30px;
	}
	
	.product__cart-btn svg
	{
		width: 14px;
		height: 14px;
	}

	.product__amount
	{
		height: 30px;
		width: 80px;
	}

	.product__amount .amount__btn
	{
		height: 30px;
		width: 30px;
	}

	.product__amount .amount__input
	{
		height: 30px;
	}

	.product__name
	{
		font-size: 14px;
	}

	.product__size,
	.product_big .product__use
	{
		font-size: 12px;
	}

	.product_big .product__prices
	{
		font-size: 16px;
	}


	.main-banner__bg.main-banner__bg-height
	{
		padding-top: 80px;
	}

	.main-banner__desc
	{
		margin-top: 10px;
	}

	.main-banner__btn 
	{
		min-width: 193px;
	}

	.btn-brown, 
	.btn-white
	{
		font-size: 12px;
	}


	.quotes-border span
	{
		height: 14px;
		width: 30px;
	}
	
	.quotes-border span:after
	{
		top: 2px;
		width: 14px;
		height: 12px;
	}

	.reviews__desc 
	{
		max-height: 63px;
	}

	.reviews__btn
	{
		font-size: 12px;
	}

	.wrap-btn
	{
		margin-top: 16px;
	}

	.wrap-btn > *,
	.section-gallery__btn > *
	{
		width: 100%;
	}

	.main-banner__name
	{
		margin-bottom: 10px;
	}

	.section-gallery__img img
	{
		aspect-ratio: 1 / 1;
	}


	.page-title
	{
		font-size: 32px;
	}


	.categories-small__item 
	{
		width: 250px;
	}

	.categories-small__thumb
	{
		width: 58px;
		height: 58px;
	}

	.categories-small__info 
	{
		width: calc(100% - 73px);
	}



	.article__stiker
	{
		line-height: 27px;
	}


	.added-cart
	{
		width: 318px;
		padding: 10px;
	}

	.added-cart__img
	{
		width: 50px;
		height: 50px;
	}

	.added-cart__info 
	{
		width: calc(100% - 60px);
	}

	.added-cart__top
	{
		font-size: 10px;
	}

	.added-cart__name
	{
		margin-top: 5px;
	}


	.our-partners__title
	{
		font-size: 16px;
	}

	.our-partners__img
	{
		height: 37px;
	}

	.our-partners__name
	{
		font-size: 14px;
	}


	.ship-calc__form
	{
		flex-wrap: wrap;
	}

	.ship-calc__submit
	{
		width: 100%;
	}

	.ship-calc__form .submit__btn
	{
		width: 100%;
	}

	
	.payment-methods__img
	{
		height: 28px;
	}

	.payment-methods__name
	{
		font-size: 14px;
	}


	.delivery-stages__number
	{
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 16px;
	}

	.delivery-stages__name
	{
		margin-top: 10px;
	}

	.delivery-stages__desc
	{
		margin-top: 8px;
		font-size: 12px;
	}


	.delivery-stage__item 
	{
		width: calc(100% / 1 - 20px);
	}


	.contact-support__items
	{
		margin-top: -15px;
	}

	.contact-support__item
	{
		margin-top: 15px;
	}

	.contact-support__desc
	{
		margin-top: 12px;
	}

	.contact-support__boxr
	{
		margin-top: 20px;
	}

	.contact-support__link
	{
		font-size: 14px;
		margin-top: 5px;
	}


	.categories-btns__btn
	{
		padding-right: 0;
		text-transform: uppercase;
		padding-bottom: 10px;
		font-size: 12px;
	}

	.categories-btns__btn + .categories-btns__btn
	{
		margin-left: 15px;
	}

	.articles__grid .article 
	{
		width: calc(100% / 1 - 15px);
	}

	.section-subscribe__wrap
	{
		gap: 4px;
	}

	.uppercase-font
	{
		font-size: 40px;
	}


	.small-banner__wrap
	{
		aspect-ratio: 1 / 1.6;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.small-banner__info
	{
		width: 100%;
	}

	.small-banner__img
	{
		margin-top: 20px;
		height: 69px;
	}


	.news-article_marg
	{
		margin-top: 15px;
	}

	.news-page__title
	{
		margin-top: 15px;
		font-size: 30px;
	}

	.news-page__img
	{
		aspect-ratio: 1 / 1.069;
	}


	.text-block h2
	{
		font-size: 16px;
		margin-bottom: 10px;
	}

	.text-block * + h2 
	{
		margin-top: 20px;
	}

	.text-block p 
	{
		margin-bottom: 10px;
	}

	.text-block img
	{
		margin-bottom: 16px;
	}

	.text-block * + img 
	{
		margin-top: 16px;
	}

	.text-block * + ul 
	{
		margin-top: 10px;
	}

	.text-block ul
	{
		margin-bottom: 10px;
	}

	.text-block ul li + li 
	{
		margin-top: 10px;
	}

	.text-block ul li
	{
		padding-left: 20px;
	}

	.text-block ul li::before
	{
		top: 6px;
		left: 6px;
	}

	.text-block * + .text-block__slider
	{
		margin-top: 10px;
	}

	.text-block__slider
	{
		overflow: visible;
		margin-bottom: 16px;
	}

	.text-block__item-img
	{
		width: 308px;
	}

	.text-block__item-img img
	{
		margin-bottom: 0;
	}


	.popular-article__title
	{
		font-size: 16px;
	}

	.popular-article__item
	{
		gap: 10px;
		width: 330px;
	}

	.popular-article__img
	{
		width: 71px;
		height: 71px;
	}

	.popular-article__img img
	{
		margin-bottom: 0;
	}

	.popular-article__info 
	{
		width: calc(100% - 81px);
	}

	.popular-article__desc
	{
		margin-top: 4px;
	}


	.main-banner__bg-pad
	{
		padding-top: 95px;
		padding-bottom: 95px;
	}

	.main-banner__bg-dark::before
	{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .2);
		z-index: 1;
	}


	.we-believe__number 
	{
		width: 36px;
		height: 36px;
		line-height: 36px;
		font-size: 16px;
	}

	.we-believe__info
	{
		width: calc(100% - 51px);
	}

	.we-believe__desc
	{
		font-size: 12px;
	}


	.about-info__title
	{
		font-size: 32px;
	}

	.about-info__sub-title
	{
		font-size: 48px;
		margin-top: -17px;
	}


	.about-stages__item 
	{
		width: calc(100% / 1 - 15px);
	}

	.about-stages__desc
	{
		font-size: 12px;
	}


	.collections__item
	{
		width: 146px;
	}

	.collections__name
	{
		font-size: 14px;
	}


	.product-info__title
	{
		margin-top: 4px;
		line-height: 1.2;
	}

	.product-info__info
	{
		margin-left: -15px;
	}

	.product-info__availability
	{
		margin-top: 15px;
		margin-left: 15px;
	}

	.product-info__availability span
	{
		display: none;
	}

	.product-info__share
	{
		margin-top: 15px;
		margin-left: 15px;
	}

	.product-info__prices
	{
		margin-left: -15px;
	}

	.product-info__price, 
	.product-info__price-old
	{
		font-size: 24px;
		margin-left: 15px;
	}

	.product-info__item
	{
		margin-top: 25px;
	}

	.product-info__bot-btn
	{
		font-size: 12px;
	}

	.features__feature::before
	{
		top: 10px;
	}

	.help-btn svg
	{
		width: 38px;
		height: 38px;
	}

	.help-btn__name
	{
		font-size: 14px;
	}


	.page-head__btn > *
	{
		width: 100%;
	}


	.search-head__form-input
	{
		font-size: 32px;
	}


	.lk-info__top
	{
		margin-bottom: 20px;
	}

	.lk-bonus__title 
	{
		font-size: 32px;
	}

	.lk-orders__item
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.lk-sorting__link
	{
		font-size: 12px;
	}
	
	.lk-orders__status
	{
		line-height: 25px;
		font-size: 12px;
	}

	.lk-orders__workflow-date
	{
		font-size: 16px;
	}

	.lk-orders__workflow-arrow
	{
		margin-top: 12px;
	}

	.lk-orders__images-img
	{
		margin-top: 4px;
	}

	.lk-orders__total-price,
	.lk-order__number, 
	.lk-order__total-price,
	.lk-info__item-title,
	.lk-info__box .main-title,
	.lk-bonus__level
	{
		font-size: 16px;
	}


	.lk-orders__data
	{
		padding-top: 25px;
		padding-bottom: 20px;
	}


	.lk-order__stage 
	{
		min-width: 145px;
	}

	.lk-order__stage-date
	{
		font-size: 14px;
	}

	.lk-order__stage-desc,
	.lk-order__total-desc
	{
		font-size: 12px;
	}

	.lk-order__title
	{
		font-size: 14px;
	}


	.order-info__item::before 
	{
		top: 10px;
	}

	.lk-order__total-price
	{
		margin-top: 0;
	}


	.lk-order__btns._flex
	{
		gap: 10px;
	}

	.lk-order__btns._flex > * 
	{
		width: 100%;
	}



	.section-subscribe__flex
	{
		flex-wrap: wrap;
		gap: 10px;
	}

	.section-subscribe__submit,
	.section-subscribe__btn
	{
		width: 100%;
	}

	.footer__bot 
	{
		display: block;
	}

	.footer__copy-mob
	{
		display: block;
	}

	.footer__creator
	{
		margin-top: 3px;
	}

	.footer__creator-img
	{
		height: 20px;
		margin-left: 10px;
	}

	.button-up__arrow
	{
		width: 30px;
		height: 30px;
	}

	.button-up svg
	{
		width: 12px;
		height: 10px;
	}


	.form__submit
	{
		margin-top: 20px;
	}

	.form__agree
	{
		font-size: 12px;
	}


	.modal
	{
		padding: 70px 20px;
	}

	.modal-filter__form
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.filter__bot 
	{
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.modal-small
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.modal__desc
	{
		margin-top: 16px;
	}

	.modal-preorder__name
	{
		font-size: 14px;
	}

	.modal-adres__form .form__submit,
	.modal-notify__form .form__submit
	{
		margin-top: 10px;
	}

	.modal-adres__form .form__line,
	.modal-notify__form .form__line
	{
		margin-bottom: 10px;
	}

	.modal-adres__bot
	{
		margin-top: 15px;
	}
}